{% extends 'base_template.html' %}

{% block content %}
    <div class="welcome-container">
        <div class="welcome-text-container">
            <p class="txt-header">System Information</p>
            <p class="system-information"></p>
        </div>
        <div class="sun-container">
            <p class="txt-header">Sun Information</p>
            <p class="sunstatus"></p>
        </div>
    </div>
    <div class="informational-container">
        <p class="info-txt">
            This software is written by Timo Oosterom & Niek van Reenen (NTDev technology). <br>
            (c) NTDev technology 2023 - 2024. All rights reserved.
        </p>
    </div>
{% endblock %}